@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    background: linear-gradient(to bottom, rgb(67, 168, 82), rgb(179, 180, 178));
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    align-items: center;
}

h1 {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 350px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.432);
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
}

.form-group {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: white;
}