@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgb(67, 168, 82), rgb(179, 180, 178));
}

.container {
    width: 100%;
    max-width: 350px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.432);
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
}

.header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    padding: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.425);
    border-radius: 10px;
    position: relative;
}

.greeting {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.subtitle {
    font-size: 16px;
    display: flex;
    flex-flow: column wrap;
    width: 150px;
}

.profile-image {
    width: 60px;
    height: 60px;
    background-color: #ccc;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: 10px;
}

.content {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.medication-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.445);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.medication-info {
    flex-grow: 1;
}

.medication-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.medication-time {
    font-size: 24px;
    font-weight: bold;
}

.medication-frequency {
    font-size: 14px;
    color: #666;
}

.toggle-switch {
    width: 50px;
    height: 30px;
    background-color: #ccc;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
}

.toggle-switch::after {
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: #fff;
    border-radius: 50%;
    top: 2px;
    right: 2px;
    transition: 0.3s;
}

.toggle-switch:active {
    background-color: black;
}

.toggle-switch.active::after {
    right: 22px;
}

.footer {
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    bottom: 50px;
}

#add {
    width: 50px;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
}

#add:hover {
    background-color: #333
}